@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sửa lỗi background-size: fill thành background-size: cover */
.form-select {
    background-position: left 1rem center;
    background-size: cover; /* hoặc contain tùy ý */
}

/* Giữ nguyên quy tắc cho html, body */
html,
body {
    overflow-x: hidden;
}
.py-12 {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}
